<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <file>ise.log</file>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <!-- rollover daily -->
	    <fileNamePattern>ise-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	    <timeBasedFileNamingAndTriggeringPolicy
	          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	      <!-- or whenever the file size reaches 100MB -->
	      <maxFileSize>100MB</maxFileSize>
	    </timeBasedFileNamingAndTriggeringPolicy>
	  </rollingPolicy>
	  <encoder>
	    <pattern>%msg%n</pattern>
	  </encoder>
	</appender>
 
    <logger name="mobigen.integrated_search_engine.App" level="TRACE"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>